<div class= "form-control w-50 mx-auto m-20">
<h1>Edit Your Task</h1>
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.submit %>
  <% end %>
  <%= link_to "See Your Tasks", task_path %>
  <br>
  <%= link_to "Create a New Task", new_task_path %>
</div>
